* {
    margin:0; 
    padding:0;
}

nav {
    margin:auto;
    text-align: center;
    width: 100%;
    font-family: roboto;
} 
img{
    width: 6%;
    height: 6%;

}
nav ul {
    background:#37988e;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
 }

nav ul li{
    float:left;
}
nav ul li:hover{
    background:#d68d9a;
}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}
